<h1>Edit carrier</h1>

<%= render "form", carrier: @carrier %>

<br>

<div>
  <%= link_to "Show this carrier", @carrier ,class:"btn btn-dark" %> |
  <%= link_to "Back to carriers", carriers_path ,class:"btn btn-dark" %>
</div>
