<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About Us</title>

    </head>
    <body>

    <header class="masthead bg-secondary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
               
                <h1 class="masthead-heading text-uppercase mb-0">About Us</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Ruby On Rails BackEnd Development</p>
            </div>
        </header>



    <section class="page-section portfolio" id="portfolio">
            <div class="container">
                
                <div class="divider-custom">
                    <p> We Software company currently learning about Ruby On Rails to use it to build powerful apps</p>
                </div>
                
            </div>
        </section>

    </body>
