<h1>Editing Load</h1>

<%= render "form", load: @load %>

<br>

<div>
  <%= link_to "Show this load", @load,class:"btn btn-dark" %> |
  <%= link_to "Back to loads", loads_path,class:"btn btn-dark" %>
</div>